footer{
    position: absolute;
    background-color: #36485E;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    z-index: 10;
    bottom: 0;
    width: 100vw;
}

.footer p {
    margin: 0; /* Removes default margin */
}